@model Application.DTO.PlantillaCorreoDTO;

@{
    ViewData["Title"] = Model.NombrePlantilla;


}
<h2>Vista previa: @Model.NombrePlantilla</h2>

<div class="card mb-3">
    <div class="card-body">
        <iframe srcdoc="@Model.ContenidoHtml" style="width:100%; height:500px; border:1px solid #ccc;"></iframe>
    </div>
</div>


<a href="@Url.Action("Seleccionar", "Plantilla")" class="btn btn-secondary">Volver</a>

<a href="@Url.Action("Editar", "Plantilla", new { Nombre= Model.NombrePlantilla })" class="btn btn-primary">
    Seleccionar plantilla
</a>