<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h2>Hola, has recibido un nuevo mensaje</h2>
    <div>
        {{Contenido}}
    </div>
    <br>
</body>
</html>
