@{
    ViewData["Title"] = "Elige cómo quieres enviar tu mensaje";

}

<h2>Selecciona el tipo de mensaje</h2>
<div class="btn-group">
    <a class="btn btn-outline-primary" href ="@Url.Action("Redactar", "Redactar")" >Correo manual</a>
    <a class="btn btn-outline-secondary" href="@Url.Action("Seleccionar", "Plantilla")">Usar plantilla personalizada</a>
</div>
